.navbar-bg{
    background-color:#2c3e50 ;
    color: white;

}
.bg-color-jumbo{
    background-color: #1abc9c;

}
.jumbo{
    height: 400px;
    border: solid 2px black;
    
}
.product{
    height: 250px;
    border: solid 2px black;  
}
.about{
    border: solid 2px black;
    height: 100px;
}
.col-foot{
    border: solid 2px black;
    height: 100px;

}