.navbar-bg{
    background-color:#2c3e50 ;
    color: white;

}
.bg-color-jumbo{ 
    background-color: #1abc9c;

}
.separated{
    width: 100px;
    border: solid 1px white;

}
.bg-about{
    background-color: #1abc9c;
}

.col-foot{
    border: solid 2px black;
    height: 100px;

}
.jumbo>img{
    width: 100%;

}